{% extends "bio/base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with name=meta.verbose_name_plural|capfirst %}{{ name }} directory{% endblocktrans %}{% endblock title %}

{% block bio_content %}
 <div id="summary">
  <h1>{% blocktrans with name=meta.verbose_name_plural|capfirst %}{{ name }} directory{% endblocktrans %}
  </h1>
 </div>
 <div id="info">
  <ul>
  {% for guide in guides %}
  <li><h3><a href="{{ guide.get_absolute_url }}">{{ guide }}</a></h3></li>
  {% endfor %}
  </ul>
  <p><a href="{% url "directories" %}">{% trans "Go back to all directories" %}</a></p>
 </div>
{% endblock bio_content %}
