{% load i18n %}

<h3>{% trans "Harvest" %}</h3>
<p>
{% if not plant.harvest_description and user.is_staff %}
{% trans "No provided description" %}, <a href="{{ plant.get_admin_url }}#id_harvest_description"/>{% trans "Add it!" %}</a>
{% else %}
{{ plant.harvest_description }}
{% endif %}
</p>
<p>
{% if plant.get_harvest_start_display and plant.get_harvest_end_display %}
 {% blocktrans with start=plant.get_harvest_start_display end=plant.get_harvest_end_display %}
 From {{ start }} to {{ end }}
 {% endblocktrans %}
{% elif plant.get_harvest_start_display and not plant.get_harvest_end_display %}
 {% blocktrans with start=plant.get_harvest_start_display %}
 From {{ start }}
 {% endblocktrans %}
{% elif not plant.get_harvest_start_display and plant.get_harvest_end_display %}
 {% blocktrans with end=plant.get_harvest_end_display %}
 Before {{ end }}
 {% endblocktrans %}
{% elif user.is_superuser %}
 {% trans "No provided harvest dates" %}, <a href="{{ plant.get_admin_url }}#id_get_harvest_start_display"/>{% trans "Add it!" %}</a>
{% else %}
 {% trans "No provided harvest dates" %}.
{% endif %}
</p>
