{% load i18n %}

<h3>{% trans "Planting" %}</h3>
<p>
 {% if not plant.planting_description %}
  {% trans "No provided description" %}{% if user.is_staff %}, <a href="{{ plant.get_admin_url }}#id_planting_description"/>{% trans "Add it!" %}</a>{% endif %}
 {% else %}
  {{ plant.planting_description }}
 {% endif %}
</p>

<p>
{% if plant.get_planting_start_display and plant.get_planting_end_display %}
 {% blocktrans with start=plant.get_planting_start_display end=plant.get_planting_end_display %}
 From {{ start }} to {{ end }}
 {% endblocktrans %}
{% elif plant.get_planting_start_display and not plant.get_planting_end_display %}
 {% blocktrans with start=plant.get_planting_start_display %}
 From {{ start }}
 {% endblocktrans %}
{% elif not plant.get_planting_start_display and plant.get_planting_end_display %}
 {% blocktrans with end=plant.get_planting_end_display %}
 Before {{ end }}
 {% endblocktrans %}
{% else %}
 {% trans "No provided planting dates" %} {% if user.is_staff %}<a href="{{ plant.get_admin_url }}#id_planting_start"/>{% trans "Add it!" %}</a>{% endif %}
{% endif %}
</p>
