{% load i18n %}

<p>
 <b>{% trans "Lifecycle:" %}</b> 
 {% if plant.lifecycle %}
  {{ plant.lifecycle }}
 {% else %}
 {% trans "No provided lifecycle" %}{% if user.is_superuser %}, <a href="{{ plant.get_admin_url }}#id_lifecycle"/>{% trans "Add it!" %}</a>{% endif %}
 {% endif %}
</p>

<p>
 {% if not plant.description %}
  {% trans "No provided description" %}{% if user.is_superuser %}, <a href="{{ plant.get_admin_url }}#id_description"/>{% trans "Add it!" %}</a>{% endif %}
 {% else %}
  {{ plant.description }}
 {% endif %}
</p>
