{% extends "bio/base.html" %}
{% load i18n %}

{% block title %}{% trans "Pests directory" %} - {{ pest.name }}{% endblock title %}

{% block bio_content %}
 <div id="summary">
   <h1>{{ pest.name }}</h1>
   {% for illustration in pest.illustrations.all %}
   <img src="{{ illustration.image.url }}" height="100px"/>
   {% endfor %}
 </div>
 
 <div id="info">
  <p>{{ pest.description }}</p>
 
  <h2>{% trans "Symptom" %}</h2>
  <p>
   {% if pest.symptom %}
    {{ pest.symptom }}
   {% elif user.is_superuser %}
    {% trans "No provided symptom" %} <a href="{{ pest.get_admin_url }}#id_symptom"/>{% trans "Add it!" %}</a>
   {% else %}
    {% trans "No provided symptom" %}
   {% endif %}
  </p>

  <h2>{% trans "Treatment" %}</h2>
  <p>
   {% if pest.treatment %}
    {{ pest.treatment }}
   {% elif user.is_superuser %}
    {% trans "No provided treatment" %} <a href="{{ pest.get_admin_url }}#id_treatment"/>{% trans "Add it!" %}</a>
   {% else %}
    {% trans "No provided treatment" %}
   {% endif %}
  </p>

  <p><a href="{% url "pests" %}">{% trans "Go back to directory" %}</a></p>
 </div>
{% endblock bio_content %}
