{% extends "bio/base.html" %}
{% load i18n %}

{% block title %}{% trans "Plants directory" %} - {{ plant }}{% endblock title %}

{% block bio_content %}
 <div id="summary">
   <h1>{{ plant }}</h1>
   {% for image in plant.images.all %}
    <img src="{{ image.image.url }}" height="100px"/>
   {% empty %}
   <p>{% trans "No illustration" %} {% if user.is_superuser %}<a href="{{ plant.get_admin_url }}#id_images">{% trans "Add it!" %}</a>{% endif %}</p>
   {% endfor %}
 </div>
 
 <div id="info">
  {% include "bio/_plant_description.html" %}
  <br>

  <h2>{% trans "Cultivation" %}</h2>
  {% include "bio/_plant_seedling.html" %}
  {% include "bio/_plant_planting.html" %}
  {% include "bio/_plant_growth.html" %}
  {% include "bio/_plant_blossom.html" %}
  {% include "bio/_plant_harvest.html" %}
  <br>
 
  <h2>{% trans "Environment" %}</h2>
  {% include "bio/_plant_environment.html" %}
  <br>
  {% include "bio/_plant_affinity.html" %}
  <br>
  {% include "bio/_plant_rotation.html" %}
  <br>


  <p><b>{% trans "Is toxic:" %}</b> {{ plant.toxic }}</p>
  <p><b>{% trans "Is food:" %}</b> {{ plant.food }}</p>
  <br>
 
  <h2>{% trans "Diseases" %}</h2>
  {% include "bio/_plant_pathology.html" %}
  {% include "bio/_plant_pest.html" %}
  <br>

  <p><a href="{% url "plants" %}">{% trans "Go back to directory" %}</a></p>
 </div>
{% endblock bio_content %}
